@{
    ViewData["Title"] = "Groups";
}
@using PlasticNotifyCenter.Models
@model GroupsViewModel

<div class="container">
    <div class="row">
        <h1 class="display-1">
            Groups
        </h1>
    </div>
    <hr class="my-4">
    @Html.PartialAsync("_menu", "groups")
    <p>
        <form asp-area="" asp-controller="Admin" asp-action="AddGroup" method="get">
            <button type="submit" class="btn btn-primary">Add group</button>
        </form>
    </p>
    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <th scope="col">Name</th>
            <th scope="col">Repository</th>
            <th scope="col">Actions</th>
        </thead>
        @foreach(var group in Model.Roles)
        {
        <tr>
            <td>@group.Name</td>
            <td>@group.Origin</td>
            <td>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Group"  asp-route-id="@group.Id">Edit</a>
            @if (!group.IsBuildIn && group.Origin == PlasticNotifyCenter.Data.Identity.Origins.Local)
            {
                <a class="btn btn-danger" href="#" onclick="$('#deleteGroupId').val('@group.Id')" data-toggle="modal" data-target="#deleteGroupModal">Delete</a>
            }
            </td>
        </tr>
        }
    </table>
</div>

<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteGroupModalLabel">Delete group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>
                    Do you really want to delete this group?
                </p>
            </div>
            <div class="modal-footer">
                <form asp-area="" asp-controller="Admin" asp-action="DelGroup" method="post">
                    <input type="hidden" name="id" id="deleteGroupId">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>